.navbar-sispmb {
  background: white url("../images/bgtop-sispmb.jpg") repeat-x;
  background-size: 100%;
  padding: 2rem 0 8rem 0;
  z-index: 0;
}

.navbar-sispmb .logo-sispmb {
  width: 5rem;
  margin: 0 auto;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1500;
  transition: opacity 500ms ease-in-out;
}

.page-loader {
  width: 40px;
  height: 40px;
  margin: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
  background-color: #333;
  background: #005EB8;
  border-radius: 100%;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  animation: pulse-load 1200ms infinite ease-in-out;
}
@keyframes pulse-load {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.welcome {
  background: #fff;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(107.32deg, #0F438A 0%, #5C8FD6 99.29%);
  color: #fff;
}
.welcome h1 {
  font-size: 2.98rem;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1;
}
@media (max-width: 575.98px) {
  .welcome h1 {
    font-size: 5.9rem;
  }
}
.welcome .inner-wrapper {
  position: relative;
  z-index: 3;
}
.welcome .inner-wrapper > p {
  margin-bottom: 20px;
  transition-delay: 150ms;
}
.welcome .inner-wrapper > .action-links {
  transition-delay: 300ms;
}
.welcome .base-bck {
  will-change: transform;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
  z-index: 1;
  max-width: 100%;
  animation: float 7s ease-in-out infinite;
  z-index: 2;
}
@keyframes float {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, -20px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

.navbar-theme {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}
@media (min-width: 767px) {
  .navbar-theme {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
}

.navbar-theme {
  position: fixed;
  padding: 40px 20px;
  background-color: transparent !important;
  border: 0;
  z-index: 1030;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 991.98px) {
  .navbar-theme {
    padding: 10px 20px;
    background-color: #0e2232;
  }
}

.top-nav-collapse {
  color: #000 !important;
  padding: 10px 20px !important;
  background-color: #fff !important;
}
.top-nav-collapse .nav-link {
  color: #000 !important;
}
@media (max-width: 991.98px) {
  .top-nav-collapse {
    padding: 10px 20px;
    background-color: rgba(8, 16, 25, 0.9);
  }
}

.conteudo-global {
  position: relative;
  background: #F5F7FA;
}
@media (max-width: 575.98px) {
  .conteudo-global .color-wrapper {
    float: none;
    max-width: 230px;
    margin: 0 auto;
  }
}
.conteudo-global .color {
  padding: 25px 20px;
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 4px 8px rgba(20, 46, 82, 0.2);
  border-radius: 0.3rem;
}
.conteudo-global .color:last-child {
  margin-right: 0;
}
.conteudo-global .color .swatch {
  position: relative;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  width: 110px;
  height: 110px;
}
.conteudo-global .color .title {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
.conteudo-global .color .hex-value {
  color: #8f99ac;
  font-size: 12px;
  text-transform: uppercase;
}
.conteudo-global .content .example {
  margin: 45px 0 60px 0;
}
.conteudo-global .content .example.emphasized {
  padding: 25px 20px;
  background: #fff;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}
.conteudo-global .content .table {
  background: #fff;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}
.conteudo-global .content .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f8fb;
}
.conteudo-global .content .table td,
.conteudo-global .content .table th {
  padding: 30px 25px;
}
.conteudo-global .content .table th {
  padding: 15px 25px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: #9ba4ae;
  border: none;
}
.conteudo-global .content .table tbody td {
  font-size: 0.8125rem;
  vertical-align: middle;
}
.conteudo-global .content .table tbody td h1,
.conteudo-global .content .table tbody td h2,
.conteudo-global .content .table tbody td h3,
.conteudo-global .content .table tbody td h4,
.conteudo-global .content .table tbody td h5,
.conteudo-global .content .table tbody td h6,
.conteudo-global .content .table tbody td p {
  margin: 0;
  line-height: 1;
}
.conteudo-global .content .table tbody td p {
  font-size: 1rem !important;
}

.carousel .carousel-inner {
  min-height: 400px;
}

.iconografia-master {
  position: relative;
  overflow: hidden;
}
.iconografia-master .row::after {
  display: block;
  clear: both;
  content: "";
}
.iconografia-master .row .col-1 {
  float: left;
  width: 1rem;
  padding-top: 1em;
}
.iconografia-master .i-name {
  display: none;
}
.iconografia-master .i-code {
  display: none;
}
.iconografia-master .demo-icon {
  visibility: hidden;
  margin: 2px 4px;
}
.iconografia-master .demo-icon[class^=uil-]:before, .iconografia-master .demo-icon[class*=" uil-"]:before {
  visibility: visible !important;
}
.iconografia-master::after {
  width: 100%;
  position: absolute;
  bottom: 3rem;
  left: 0;
  content: "";
  height: 30%;
  background: linear-gradient(180deg, rgba(245, 247, 250, 0) 0%, #F5F7FA 100%);
}

.iconografia {
  position: relative;
}
/*# sourceMappingURL=base-site.css.map */