.breadcrumb-custom{
  border-radius: 0;
  padding-left: 15px;
  min-height: 3.5em;
  background-color: $gray-900;
  box-shadow: none;
  background-color: $white;
  margin-bottom: 0;
  border-bottom: 1px solid $gray-300;
  font-size: $font-size-sm;
  //@include box-shadow-sm();
  @include media-breakpoint-down(sm) {
    padding-left: 3em;
  }
}
.toggled .breadcrumb-custom{
  border-radius: 0;
  padding-left: 3.5em;
// to do: mixin de shadowns
}