
.btn-group-avaliacao {
  .btn-outline-secondary:not(:disabled):not(.disabled):active,
  .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
    &:hover{
      background-color: $blue-light-100;
    }
    @include media-breakpoint-down(sm) {
      padding: .5rem;
    }
  }

  .btn-outline-secondary {
    color: $blue;
    border-color: $blue;
    &:hover{
      background-color: $blue-light-100;
    }
    @include media-breakpoint-down(sm) {
      padding: .5rem;
    }
  }

  .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0px 0px 0 0.2rem #8FB8EF;
  }
  .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child){
    @include media-breakpoint-down(sm) {
      padding: .5rem;
    }
  }

}
.btn{
  text-decoration: none;
  &.btn-primary{
    background-color: $blue;
  }
}