// sombras
@mixin box_shadow ($level) {
  @if $level == xs {
    box-shadow: 0px 2px 4px rgba(20, 46, 82, 0.2)
  } @else if $level == sm {
    box-shadow: 0px 4px 8px rgba(20, 46, 82, 0.2);
  } @else if $level == md {
    box-shadow: 0px 8px 12px rgba(20, 46, 82, 0.2);
  } @else if $level == lg {
    box-shadow: 0px 16px 32px rgba(20, 46, 82, 0.2);
  } @else if $level == xl {
    box-shadow: 0px 32px 30px rgba(20, 46, 82, 0.2);
  }@else if $level == xxl {
    box-shadow: 0px 64px 40px rgba(20, 46, 82, 0.2);
  }

}