
//
// Variáveis do CSS do site
// --------------------------------------------------
//



// Cores da identidade

$white:    #fff !default;

$black:    #000000 !default;

$gray-100: #F5F7FA !default;
$gray-200: #B6BFC8 !default;
$gray-300: #E2E6E8 !default;
$gray-400: #D4DADD !default;
$gray-500: #B9C1C6 !default;
$gray-600: #A1ADB3 !default;
$gray-700: #61686B !default;
$gray-800: #3C4143 !default;
$gray-900: #181A1B !default;


$blue:    #085CA5 !default;
$blue-light-100:    lighten($blue, 10%) !default;
$blue-light-200:    lighten($blue, 20%) !default;
$blue-light-300:    lighten($blue, 30%) !default;



$indigo:  #004A8A !default;
$purple:  #994599 !default;
$pink:    #FFEAE5 !default;
$red:     #FFEAE5 !default;
$orange:  #FF8040 !default;
$yellow:  #FFE380 !default;
$green:   #35B068 !default;
$teal:    #55DDB7 !default;
$cyan:    #5C8FD6 !default;




$text-color: $gray-600;
$link-color: $blue;
$link-color-hover: $blue-light-300;


// Caminhos para imagens
$image-path-theme: "../images";

// Typografia e relação de 1.2 (): Fontes etc
$font-size-base: 100%;
$line-height-base: 1.15;

$fontsize-md: 1rem; //Tamanho base, geralmente 1rem = 1em = 16px
$ratio-value: 1.2; // Relação do Terço menor, (1.2)

$fontsize-xs: $fontsize-md / 2 * $ratio-value;
$fontsize-sm: $fontsize-md / $ratio-value;
$fontsize-mdplus: $fontsize-md + (0.2 * $ratio-value);
$fontsize-lg: $fontsize-md + (0.37 * $ratio-value);
$fontsize-xl: $fontsize-md + (0.6 * $ratio-value);
$fontsize-xxl: $fontsize-md + (0.9 * $ratio-value);
$fontsize-2xl: $fontsize-md + (1.24 * $ratio-value);
$fontsize-3xl: $fontsize-md + (1.65 * $ratio-value);


$line-height-base:            1.15 !default;

$h1-font-size:                $fontsize-3xl !default;
$h2-font-size:                $fontsize-2xl !default;
$h3-font-size:                $fontsize-xxl !default;
$h4-font-size:                $fontsize-xl !default;
$h5-font-size:                $fontsize-lg !default;
$h6-font-size:                $fontsize-mdplus !default;




// Tamanhos de font customizados

$fontsize-md: 1rem; //Tamanho base, geralmente 1rem = 1em = 16px
$ratio-value: 1.2; // Relação do Terço menor, (1.2)

$fontsize-xs: $fontsize-md / 2 * $ratio-value;
$fontsize-sm: $fontsize-md / $ratio-value;
$fontsize-mdplus: $fontsize-md + (0.2 * $ratio-value);
$fontsize-lg: $fontsize-md + (0.37 * $ratio-value);
$fontsize-xl: $fontsize-md + (0.6 * $ratio-value);
$fontsize-xxl: $fontsize-md + (0.9 * $ratio-value);
$fontsize-2xl: $fontsize-md + (1.24 * $ratio-value);
$fontsize-3xl: $fontsize-md + (1.65 * $ratio-value);





$border-radius-sm: 4px;
$border-radius-md: 8px;

// fontes especiais
$font-path: "../css/fonts";
$font-family-sans-serif: "open_sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Headings
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: normal;
$headings-line-height: 1.1;
$headings-color: inherit;

$destaque-height: 100%;


$navbar-default-bg: #f8f8f8;
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-inverse-bg: #222;
$navbar-inverse-border: darken($navbar-inverse-bg, 10%);

$grid-float-breakpoint-max: 767px;


$sidebar-width: 250px;
$sidebar-transition-duration: 500ms;
$sidebar-transition-easing: ease;
$sidebar-transition: $sidebar-transition-duration $sidebar-transition-easing;

// ícones
// Font glyphicons (altereda por conta da estrutura de pastas)
//$glyphicons-font-path: "glyphicons";

// Font ionicons
//$ionicons-font-path: "ionicons";


$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$btn-primary-color: $white;
$btn-primary-bg: $blue;
$btn-primary-border: 0;

$btn-success-color: $white;
$btn-success-bg: $green;
$btn-success-border: 0;

$btn-info-color: $white;
$btn-info-bg: $blue-light-200;
$btn-info-border: 0;

$btn-warning-color: $white;
$btn-warning-bg: $orange;
$btn-warning-border: 0;

$btn-danger-color: #fff;
$btn-danger-bg: $red;
$btn-danger-border: 0;

$btn-link-disabled-color: $gray-200;

// Bootstrap select

$color-red-error: rgb(185, 74, 72);
$color-grey-arrow: rgba(204, 204, 204, 0.2);

$width-default: 220px; // 3 960px-grid columns

$zindex-select-dropdown: 1060; // must be higher than a modal background (1050)

//** Placeholder text color
$input-color-placeholder: #999;